.searchHomeButton{
  
    margin-top: 10px;
    border-top: 1px solid;
    padding: 10px ;
    border-radius: 5px;
  
}

.titleDetail {
    
  grid-auto-columns:auto;
  grid-gap: 10px;
  background-color: rgb(2, 185, 72);
  width: 60vw;
  margin-left : 20vw;
  position:relative;
  box-sizing: border-box;
  margin-top: 10px;
    border:1px solid black;
    padding: 10px ;
    border-radius: 15px;
}

.SummaryDetail {
    
  grid-auto-columns:auto;
  grid-gap: 10px;
  background-color: white;
  width: 50vw;
  margin-left : 25vw;
  position:relative;
  box-sizing: border-box;
  margin-top: 10px;
    border:1px solid black;
    padding: 10px ;
    border-radius: 15px;
}


.healthScoreDetail {
    
  grid-auto-columns:auto;
  grid-gap: 10px;
  background-color: white;
  width: 20vw;
  margin-left : 40vw;
  position:relative;
  box-sizing: border-box;
  margin-top: 10px;
    border:1px solid black;
    padding: 10px ;
    border-radius: 15px;
}

.listDetail {
    
    
    grid-auto-columns:auto;
    grid-gap: 10px;
    background-color: grey;
    width: 60vw;
    margin-left : 20vw;
    position:relative;
    box-sizing: border-box;
    margin-top: 10px;
    border:1px solid black;
    padding: 10px ;
    border-radius: 15px;
    margin-bottom: 10px;
    
}

.imgDet {
  width: 51%;
  margin-top: 15px;
  border-radius: 20px;
  background-color: white;
  margin-left : 12px;
}

.descDet {
  
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;;
  background-color: white;
}

.eachTagA {
  color: black;
  padding: 0 4px;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
}

 .dietItem {
    
  background-color: white;
  border: black 2px solid;
  display: inline;
  margin-right: 10px;
  border-radius: 10px;
  
}

.detailBackGround{
    

  background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/food-1-1584398015.jpg?crop=1.00xw:1.00xh;0,0&resize=10000:*') no-repeat center center fixed;

position:relative;
 min-width: 400px; 
min-height: 1000px;
margin: 0;
padding: 0;

-khtml-background-size:cover;  /*  Konqueror */
-webkit-background-size:cover; /* Webkit */
-moz-background-size:cover;  /* Firefox */
-o-background-size:cover;  /*  Opera */
background-size:cover; /* Resto */
}

