.homeTitlePincipal {
    grid-auto-columns:auto;
    grid-gap: 10px;
    background-color:  rgb(2, 185, 72);
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 20px;
    border:1px solid black;
    padding: 10px ;
    overflow:hidden;
    font-size: 50px;
    /* position: fixed; */
    height: auto;
    top: 0;
    left: 0;
     z-index: 0;
     box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
     font-weight: 500;
  } 

  .homeFirstDiv {
      display: flex;
      flex-direction: row;
      /* position:relative; */
      
  }
  

  .homeSelects{
    grid-auto-columns:auto;
    grid-gap: 10px;
    background-color: grey;
    width: 24vw;
    margin-left : 1vw;
    position:relative;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
      border:1px solid black;
      padding: 10px ;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
  }

  .homeEachSelect{
    border-radius: 10px;
    width: 20vw;
    margin-left : 1vw;
    text-align: center;
  }

  .homeCardGrid{
    
   display:inline-block; 
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  height: 350px;
  gap: 10px;
  margin: 10px;
  width: 500px;
  border-radius: 10px;
 
      background-color: grey;
      border:1px solid black;
  } 

  .homeBackGround{ 
    
     background-color: white; 
    /* background: url('https://i.pinimg.com/originals/cc/53/18/cc5318af171935951419fce26d040e82.jpg') no-repeat center center fixed; */
  position:relative;
   min-width: 400px; 
	min-height: 1200px;
	margin: 0;
	padding: 0;
	
	-khtml-background-size:cover;  /*  Konqueror */
	-webkit-background-size:cover; /* Webkit */
	-moz-background-size:cover;  /* Firefox */
	-o-background-size:cover;  /*  Opera */
	background-size:cover; /* Resto */
  }

  .homeNextPreviusPages {
    width: 8vw;
    /* margin-left: 45vw; */
    border: 1px solid;
    padding: 10px ;
    border-radius: 5px;
    background-color: grey;
}

.homeNextPreviusPagesDiv {
  /* display:inline-block;  */
  grid-template-rows: auto;
   grid-template-columns: 1fr 1fr; 
}



  