.landingTitlePincipal {
    
    
    grid-auto-columns:auto;
    grid-gap: 10px;
    background-color: grey;
    margin-top: 200px;
    width: 60vw;
    margin-left : 20vw;
    position:relative;
    box-sizing: border-box;
    
      border:1px solid black;
      padding: 10px ;
      border-radius: 15px;
  }

.landingHomeButton{
  
    border-top: 1px solid;
    padding: 10px ;
    border-radius: 5px;
  
}