.paginated {
    list-style-type: none;
    text-align: center
}

.number {
    
    background-color: white;
    border: black 2px solid;
    display: inline;
    margin-right: 10px;
}

  .eachA {
    color: black;
    padding: 0 4px;
    
    text-decoration: none;
    background-color: grey;
  }
  
    .eachA:hover {
    background-color: white;
    color: black;
    cursor:alias;
   } 

   .paginatedPages {
    width: 8vw;
    margin-left: 45vw;
    border: 1px solid;
    padding: 10px ;
    border-radius: 5px;
    background-color: grey;
}

.currentPage {
    
  background-color: grey;
  border: 1px solid;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px ;
}


