.homeTitleDetail {
    
    color: black;
    grid-auto-columns:auto;
    grid-gap: 10px;
    background-color: rgb(2, 185, 72);
    width: 200px;
    text-decoration: none;
    position:relative;
    box-sizing: border-box;
    margin-top: 10px;
      border:1px solid black;
      padding: 1px ;
      border-radius: 15px;
  }

  .homeHealthScoreDetail {
    
    color: rgb(2, 185, 72);
    grid-auto-columns:auto;
    grid-gap: 10px;
    background-color: white;
    width: 150px;
    box-shadow: inset 0 -3px 0 0 #bdb;
    text-decoration: none;
    position:relative;
    box-sizing: border-box;
    margin-top: 10px;
      border:1px solid black;
      padding: 10px ;
      border-radius: 15px;
  }

  .homeDietsDetail {
    color: rgb(2, 185, 72);
    text-decoration: none;
    grid-auto-columns:auto;
    grid-gap: 10px;
    background-color: white;
    width: 200px;
    position:relative;
    box-sizing: border-box;
    margin-top: 10px;
      border:1px solid black;
      padding: 10px ;
      border-radius: 15px;

  }

  

.imgRecipe {
    
    width: 250px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;
  
}

 .recipeCardstyle{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    border-radius: 15px;
    align-items: center;
    
} 

a:link, a:visited, a:active {
  text-decoration:none;
}