.home {
    margin-top: 10px;
    border-top: 1px solid;
    padding: 10px ;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    /*  display: flex;  */
     justify-content: space-around 
}

.search {
    margin-top: 28px;
    margin-bottom: 15px;
    border-top: 1px solid;
    padding: 10px ;
    border-radius: 5px;
}

.searchBackground {
    background-color: rgb(2, 185, 72);
    margin-bottom: 10px;
    border:1px solid black;
    padding: 10px ;
    margin-left : 11vw;
    margin-right : 15px;
    margin-top:8px;
    text-align: center;
    justify-content: space-around ;
    position:relative;
    border-radius: 15px;
}